### 실습 1)

In [47]:
# 각종 모듈 inmport
import numpy as np   # 행렬 연산 패키지   
from scipy import stats   # 과학, 기술 계산 패키지
import scipy.stats   # 통계 분석 패키지
import pandas as pd   # 데이터 구성 패키지
import statsmodels.api as sm   # 데이터 시각화 패키지 
import matplotlib.pyplot as plt   # 데이터 시각화 패키지
import seaborn as sns   # 데이터 시각화 패키지
from statsmodels.stats.proportion import proportions_ztest   # 통계 분석 패키지

#### ↑ 파이썬에 다양한 데이터 분석과 관련한 통계 관련 모듈에 대해서 정리할 수 있었고, 용도에 맞게 잘 사용하면 좋을 것 같습니다.

In [48]:
# pd 내장함수 read_csv를 사용하여 csv 파일을 ds_mycars에 저장하였습니다. 
ds_mycars=pd.read_csv("C:\\Users\\Administrator\\Untitled Folder\\statistics_1day/mycars.csv", engine="python")
# df에 ds_mycars의 driving, mpg의 column 데이터를 저장합니다.
df=ds_mycars[['driving','mpg']]
# driving을 그룹화하여 mpg에 대한 기술통계를 출력합니다.
df.groupby('driving').describe()

           mpg
         count       mean       std   min   25%   50%   75%   max
driving
4        103.0  14.330097  2.874459   9.0  13.0  14.0  16.0  21.0
f        106.0  19.971698  3.626510  11.0  18.0  19.0  21.0  35.0
r         25.0  14.080000  2.215852  11.0  12.0  15.0  15.0  18.0

In [49]:
# pd 내장함수 read_csv를 사용하여 csv 파일을 ds_mycars에 저장하였습니다.
ds_mycars=pd.read_csv("C:\\Users\\Administrator\\Untitled Folder\\statistics_1day/mycars.csv", engine="python")
# df에 ds_mycars의 driving, highway_mileage의 column 데이터를 저장합니다.
df=ds_mycars[['driving','highway_mileage']]
# driving을 그룹화하여 mpg에 대한 기술통계를 출력합니다.
df.groupby('driving').describe()

        highway_mileage
                  count       mean       std   min   25%   50%   75%   max
driving
4                 103.0  19.174757  4.078704  12.0  17.0  18.0  22.0  28.0
f                 106.0  28.160377  4.206881  17.0  26.0  28.0  29.0  44.0
r                  25.0  21.000000  3.662877  15.0  17.0  21.0  24.0  26.0

#### 고찰)
#### 여기서 중요한 점은 describe() 함수입니다. describe() 함수는 파라미터에 관련된 기술통계 함수를 출력하는 함수입니다.
#### 한개의 칼럼에 대해 describe()를 하면 연속형 데이터든, 범주형 데이터든 불러올 수 있지만
#### 두개 이상의 칼럼에 대해서는 describe(include='all')을 해야 범주형 데이터도 기술통계를 출력할 수 있습니다.
#### 즉, 칼럼이 1개일 때 describe() 함수의 디폴트 값은 연속형 데이터에 대해서만 출력가능합니다.

### 실습 2)

In [20]:
# mycars.csv 데이터 가져오기
ds_mycars=pd.read_csv("C:\\Users\\Administrator\\Untitled Folder\\statistics_1day/mycars.csv", engine="python")
# df에 ds_mycars의 model, mpg의 column 데이터를 저장합니다.
df=ds_mycars[['model', 'mpg']]

# model 변수 Count: value_count, 순서대로 정렬: sort_index
count=df['model'].value_counts().sort_index()

# CumCnt 계산: cumsum
percent=count/sum(count)*100
# Percent 계산: 직접
cumcnt=np.cumsum(count)
# CumPct 계산: cumsum
cumpct=np.cumsum(percent)

# DataFrame으로 취합
count_data=pd.DataFrame({'Count':count, 'CumCnt':cumcnt, 'Percent':percent, 'CumPct:':cumpct})

# Column의 name(좌측상단 이름) 생성
count_data.columns.name='model'
count_data

model                   Count  CumCnt   Percent     CumPct:
4runner 4wd                 6       6  2.564103    2.564103
a4                          7      13  2.991453    5.555556
a4 quattro                  8      21  3.418803    8.974359
a6 quattro                  3      24  1.282051   10.256410
altima                      6      30  2.564103   12.820513
c1500 suburban 2wd          5      35  2.136752   14.957265
camry                       7      42  2.991453   17.948718
camry solara                7      49  2.991453   20.940171
caravan 2wd                11      60  4.700855   25.641026
civic                       9      69  3.846154   29.487179
corolla                     5      74  2.136752   31.623932
corvette                    5      79  2.136752   33.760684
dakota pickup 4wd           9      88  3.846154   37.606838
durango 4wd                 7      95  2.991453   40.598291
expedition 2wd              3      98  1.282051   41.880342
explorer 4wd                6     104  2.564103   44.444444
f150 pickup 4wd             7     111  2.991453   47.435897
forester awd                6     117  2.564103   50.000000
grand cherokee 4wd          8     125  3.418803   53.418803
grand prix                  5     130  2.136752   55.555556
gti                         5     135  2.136752   57.692308
impreza awd                 8     143  3.418803   61.111111
jetta                       9     152  3.846154   64.957265
k1500 tahoe 4wd             4     156  1.709402   66.666667
land cruiser wagon 4wd      2     158  0.854701   67.521368
malibu                      5     163  2.136752   69.658120
maxima                      3     166  1.282051   70.940171
mountaineer 4wd             4     170  1.709402   72.649573
mustang                     9     179  3.846154   76.495726
navigator 2wd               3     182  1.282051   77.777778
new beetle                  6     188  2.564103   80.341880
passat                      7     195  2.991453   83.333333
pathfinder 4wd              4     199  1.709402   85.042735
ram 1500 pickup 4wd        10     209  4.273504   89.316239
range rover                 4     213  1.709402   91.025641
sonata                      7     220  2.991453   94.017094
tiburon                     7     227  2.991453   97.008547
toyota tacoma 4wd           7     234  2.991453  100.000000

In [21]:
# mpg 변수 Count: value_count, 순서대로 정렬: sort_index
count2=df['mpg'].value_counts().sort_index()
# CumCnt 계산: cumsum
cumcnt2=np.cumsum(count2)
# percent 계산: 직접
percent2=count2/sum(count2)*100
# CumPct 계산: cumsum
cumpct2=np.cumsum(percent2)
# DataFrame으로 취합
count_data2=pd.DataFrame({'Count':count2, 'CumCnt':cumcnt2, 'Percent':percent2, 'CumPct:':cumpct2})
# Column의 name(좌측상단 이름) 생성
count_data2.columns.name='mpg'
count_data2

mpg  Count  CumCnt    Percent     CumPct:
9        5       5   2.136752    2.136752
11      20      25   8.547009   10.683761
12       8      33   3.418803   14.102564
13      21      54   8.974359   23.076923
14      19      73   8.119658   31.196581
15      24      97  10.256410   41.452991
16      19     116   8.119658   49.572650
17      16     132   6.837607   56.410256
18      26     158  11.111111   67.521368
19      20     178   8.547009   76.068376
20      11     189   4.700855   80.769231
21      23     212   9.829060   90.598291
22       4     216   1.709402   92.307692
23       3     219   1.282051   93.589744
24       5     224   2.136752   95.726496
25       2     226   0.854701   96.581197
26       3     229   1.282051   97.863248
28       2     231   0.854701   98.717949
29       1     232   0.427350   99.145299
33       1     233   0.427350   99.572650
35       1     234   0.427350  100.000000

#### 고찰)
#### 이전 실습 1)과의 차이점은 DataFrame 형식으로 2차원 배열에 저장을 한다는 점입니다.
#### pandas에는 Series(1차원) - index, value 와 DataFrame(2차원) - index, column, value 의 두 가지 데이터 형식이 있습니다.
#### pandas를 쓰는 이유는 전처리 관련한 내장함수가 많고, Series와 DataFrame이라는 데이터 형식이 있기 때문에 널리 쓰입니다.
#### DataFrame을 딕셔너리 형태로 불러왔는데, 딕셔너리 형태를 쓰는 이유는 가중치를 저장하기 쉽고, pandas로 엑셀 변환을 쉽게 하기 위해 쓰입니다.

### ※ 기술통계 표를 왜 구하고 분석하는가?
#### 기술통계 표를 이용해 평균(mean)과 표준편차(std)를 구하고, 변동계수(cv)=표준편차/평균 을 구할 수 있습니다.
#### 이상치의 값을 갖는 X의 값이 목표변수 Y의 값에 영향을 줄 가능성이 크다고 판단하여, 표준화하여 오차를 줄일 수 있습니다.
#### (단, 모수석일때만 하고 모수분석이 아니면 할 필요가 없습니다.)